{% extends 'notes/base.html' %}

{% block title %}Notes{% endblock %}

{% block contents %}
  <style>
    .fab {
      position: fixed;
      bottom: 8px;
      right: 8px;
    }
  </style>
  <ul class="demo-list-three mdl-list">
    {% for note in notes %}
      <li class="mdl-list__item mdl-list__item--three-line">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-avatar">loyalty</i>
        <a href="/notes/{{ note.id }}/read">{{ note.title }}</a>
        <span class="mdl-list__item-text-body">
          {{ note.text|truncate(64, False)|escape }}
        </span>
      </span>
      </li>
    {% endfor %}
  </ul>
  <nav>

  </nav>
  <a href="/notes/create"
     class="fab mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect ">
    <i class="material-icons">edit</i>
  </a>
{% endblock %}
